:root{
    --search-border-color: rgba(0, 0, 0, 0.2);
    --color-main: #00001B;
    --color-second: #0B163B;
    --color-contrast:#000000;
    --color-white-pillow: #FAF6F0;
    --color-inactive: #9FA1AD;
    --color-active: #5758ff;
}

body{
    width: 100vw;
    padding:0;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main);
    color: var(--color-white-pillow)
}

#page{
    width: 100vw;
    max-width: 1500px;
    padding-top: 30px;

}

.search-bar-wrapper{
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 3px solid var(--search-border-color);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 5px;
}

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.search-bar-wrapper{
    background-color: var(--color-second);
    max-width: 600px;
}

.search-bar-wrapper > input{
    min-width: 400px;
    max-width: 600px;
    border: none;
    font-size: 24px;
    background-color: var(--color-second);
}

.search-bar-wrapper > input:focus{
    outline: none;
}

.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    border-left: 2px solid var(--search-border-color);
    background-color: transparent;
}

.search-btn:hover{
    cursor: pointer;
}

.search-btn > img{
    height: 60%;
}

.search-btn > img:hover{
    opacity: 0.8;
}

.user-nav-wrapper{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
}

.header-nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
    margin-right: 25px;
    border: none;
}

.header-nav-btn:hover{
    background-color: hsl(0, 0%, 20%);
    border-radius: 25px;
    padding: 10px;
    margin: -10px;
    margin-right: 15px;
    cursor: pointer;
}

.header-nav-btn > img{
    width: 40px;
    margin-right: 8px;
}

.header-nav-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-nav-wrapper > p {
    margin: 0;
    height: 35%;
    display: flex;
    align-items: center;
    color: var(--color-white-pillow);
}

.header-img{
    height: 150px;
    margin: -50px;
}

.header-img-center-wrapper{
    width: 100%;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.header-img-center{
    max-width: 1500px;
    width: calc(100% - 40px);
    background-image: url("/images/backgrounds/wizard-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 600px;
    margin-left: 20px;
    border-radius: 20px;
}

.header-img-center > h1{
    padding-top: 100px;
    margin-left: 50px;
    font-size: 3.8rem;
}

.header-img-center > p{
    font-size: 1.6rem;
    margin-top: -20px;
    margin-left: 50px;
}

.shop-now-btn{
    margin-top: 100px;
    margin-left: 50px;
    color: var(--color-white-pillow);
    background-color: var(--color-active);
    font-size: 1.3rem;
    padding: 10px 15px 10px 15px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: all 0.2s ease-out;
}

.shop-now-btn-image{
    width: 10px;
    opacity: 0;
    margin-left: -10px;
    padding: 0px;
    transition: all 0.4s;
}

.shop-now-btn:hover{
    cursor: pointer;
}

.shop-now-btn:hover .shop-now-btn-image{
    margin-left: 8px;
    width: 24px;
    opacity: 1;
}

.shop-now-btn:active{
    opacity: 0.8;
}


.shop-now-btn:focus .shop-now-btn-image{
    margin-left: 8px;
    width: 24px;
    opacity: 1;
}

.categories-carousel{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
    margin-left: 15px;

}

.categories-label{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 2rem;
    position: left;
}

.category-card-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 192px;
    aspect-ratio: 12/13;
    margin-right: 20px;
    border-radius: 20px;
    background-color: var(--color-second);
    border: none;
    transition: background-color 0.4s;
}

.category-card-btn:hover, .category-card-btn:focus{
    cursor: pointer;
    background-color: var(--color-active);
}

.category-card-img{
    width: 120px;
    margin-top: 20px;
    transition: filter 0.4s;
    user-select: none;
    -webkit-user-drag: none;
}

.category-card-btn:hover .category-card-img,
.category-card-btn:focus .category-card-img{
    filter: invert(91%) sepia(3%) saturate(615%) hue-rotate(333deg) brightness(108%) contrast(96%);
}

.category-card-description{
    font-size: 1.6rem;
    font-weight: bold;
    transition: filter 0.4s;
    color: var(--color-contrast);
    user-select: none;
}

.category-card-btn:hover .category-card-description,
.category-card-btn:focus .category-card-description{
    filter: invert(91%) sepia(3%) saturate(615%) hue-rotate(333deg) brightness(108%) contrast(96%);
}