@import url('https://fonts.googleapis.com/css2?family=Anton&family=Outfit:wght@100..900&display=swap');

:root{
    --search-border-color: rgba(0, 0, 0, 0.2);
    --color-main: #00001B;
    --color-second: #0B163B;
    --color-contrast:#000000;
    --color-white-pillow: #FAF6F0;
    --color-inactive: #9FA1AD;
    --color-active: #5758ff;
    --font-main: "Outfit", serif;
    --font-second: "Anton", sans-serif;
}

body{
    font-family: var(--font-main);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    padding:0;
    margin: 0;
    display:flex;
    justify-content: center;
    background-color: var(--color-main);
    color: var(--color-white-pillow)
}

#page-main{
    width: 100vw;
    max-width: 1500px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.search-bar-wrapper{
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 3px solid var(--search-border-color);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 5px;
}

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.search-bar-wrapper{
    background-color: var(--color-second);
    max-width: 600px;
}

.search-bar-wrapper:hover{
    border: 2px solid var(--color-inactive);
    margin: 1px;
}

.header-search-input{
    min-width: 400px;
    max-width: 600px;
    border: none;
    font-size: 24px;
    background-color: var(--color-second);
    color: var(--color-white-pillow);
}

.header-search-input:focus{
    outline: none;
}

.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    border-left: 3px solid var(--search-border-color);
    background-color: transparent;
}

.search-btn:hover{
    cursor: pointer;
}

.search-btn > img{
    height: 60%;
}

.search-btn > img:hover{
    filter: invert(72%) sepia(8%) saturate(295%) hue-rotate(194deg) brightness(87%) contrast(96%);
}

.user-nav-wrapper{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
}

.header-nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
    margin-right: 25px;
    border: none;
}

.header-nav-btn:hover,
.header-nav-btn:focus{
    background-color: var(--color-active);
    border-radius: 25px;
    padding: 10px;
    margin: -10px;
    margin-right: 15px;
    cursor: pointer;
}

.header-nav-btn > img{
    width: 40px;
    margin-right: 8px;
}

.header-nav-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-nav-wrapper > p {
    margin: 0;
    height: 35%;
    display: flex;
    align-items: center;
    color: var(--color-white-pillow);
    font-family: var(--font-main);
}

.header-img{
    height: 150px;
    margin: -50px;
}

.header-img-center-wrapper{
    width: 100%;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.header-img-center{
    max-width: 1500px;
    width: calc(100% - 40px);
    background-image: url("/magic_store/images/backgrounds/wizard-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 600px;
    margin-left: 20px;
    border-radius: 20px;
}

.header-img-center > h1{
    padding-top: 100px;
    margin-left: 50px;
    font-size: 3.4rem;
    font-weight: normal;
    font-family: var(--font-second);
}

.header-img-center > p{
    font-size: 1.6rem;
    margin-top: -20px;
    margin-left: 50px;
}

.shop-now-btn{
    margin-top: 100px;
    margin-left: 50px;
    color: var(--color-white-pillow);
    background-color: var(--color-active);
    font-size: 1.3rem;
    padding: 10px 15px 10px 15px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: all 0.2s ease-out;
}

.shop-now-btn-image{
    width: 10px;
    opacity: 0;
    margin-left: -10px;
    padding: 0px;
    transition: all 0.4s;
}

.shop-now-btn:hover{
    cursor: pointer;
}

.shop-now-btn:hover .shop-now-btn-image{
    margin-left: 8px;
    width: 24px;
    opacity: 1;
}

.shop-now-btn:active{
    opacity: 0.8;
}


.shop-now-btn:focus .shop-now-btn-image{
    margin-left: 8px;
    width: 24px;
    opacity: 1;
}

.categories-carousel{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
    margin-left: 15px;

}

.categories-label{
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 2rem;
    position: left;
}

.category-card-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-main);
    min-width: 192px;
    aspect-ratio: 12/13;
    margin-right: 20px;
    border-radius: 20px;
    background-color: var(--color-second);
    border: none;
    transition: background-color 0.4s;
}

.category-card-btn:hover, .category-card-btn:focus{
    cursor: pointer;
    background-color: var(--color-active);
}

.category-card-img{
    width: 120px;
    margin-top: 20px;
    transition: filter 0.4s;
    user-select: none;
    -webkit-user-drag: none;
}

.category-card-btn:hover .category-card-img,
.category-card-btn:focus .category-card-img{
    filter: invert(91%) sepia(3%) saturate(615%) hue-rotate(333deg) brightness(108%) contrast(96%);
}

.category-card-description{
    font-size: 1.6rem;
    font-weight: bold;
    transition: filter 0.4s;
    color: var(--color-contrast);
    user-select: none;
}

.category-card-btn:hover .category-card-description,
.category-card-btn:focus .category-card-description{
    filter: invert(91%) sepia(3%) saturate(615%) hue-rotate(333deg) brightness(108%) contrast(96%);
}


/* REGISTER PAGE */
#register-page{
    width: 90vw;
    max-width: 500px;
    height: 100%;
    align-content: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.register-nav-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-back-btn{
    background-color: transparent;
    border: none;
    color: var(--color-inactive);
    font-size: 2.6rem;
}

.register-back-btn:hover{
    cursor: pointer;    
    color: var(--color-white-pillow);
}

.register-nav-wrapper > a{
    width: clamp(100px, 150px, 200px);
    margin-top: -5%;
    margin-bottom: -5%;
}

#register-page > h1{
    display: flex;
    justify-self: center;
    font-size: 2.4rem;
}

#register-page > p:first-of-type{
    font-size: 1.2rem;
    color: var(--color-inactive);
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-white-pillow);
    margin-bottom: 5px;
    margin-left: 2px;
}

form input{
    font-size: 1.2rem;
    color: var(--color-white-pillow);
    background-color: var(--color-second);
    padding: 15px;
    border-radius: 4px;
    border: 1px solid gray;
    margin-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  -webkit-text-fill-color: var(--color-white-pillow);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-second) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-btn{
    align-self: center;
    width: 100%;
    margin-top: 15px;
    font-size: 1.15rem;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.2s ease;
    font-family: var(--font-main);
}

.register-submit-btn{
    background-color: var(--color-active);
    color: var(--color-white-pillow);
    border: 1px solid var(--color-active);
}

.register-submit-btn:hover{
    cursor: pointer;
    background-color: var(--color-second);
}

.register-login-btn{
    background-color: var(--color-main);
    color: var(--color-white-pillow);
    border: 1px solid var(--color-white-pillow);
}

.register-login-btn:hover{
    cursor: pointer;
    background-color: var(--color-white-pillow);
    color: var(--color-contrast);
}

.login-label-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 2px solid var(--color-inactive);
    margin-top: 40px;
}

.login-label-wrapper > p{
    font-size: clamp(1.2rem, 1.6rem, 1.8rem);
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}

.register-form-inputs-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.register-form-inner-wrapper{
    display: flex;
    flex-direction: column;
    width: 47%;
}

form input:valid{
    border: 1px solid green;
    outline: 1px solid green;
}

form input:user-invalid{
    border: 2px solid red;
}

#fname{
    text-transform: capitalize;
}

#lname{
    text-transform: capitalize;
}

.reg-success{
    color: green;
    font-size: 2rem;
}

.reg-error{
    color: red;
}

#email-feedback{
    display: inline-block;
    font-size: 1rem;
    height: 1rem;
    margin-top: -15px;
    margin-bottom: 10px;
}